<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    /* Estilos personalizados para el modal */
    .modal-lg {
      max-width: 50%; /* Ajustar el ancho del modal al 50% del ancho de la pantalla */
    }

    .modal-body .form-group {
      margin-bottom: 1.5rem; /* Añadir margen inferior para espaciar los elementos del formulario */
    }

    .modal-body .form-control {
      width: 100%; /* Asegurar que los campos del formulario ocupen todo el ancho disponible */
    }

    /* Centrar contenido en las celdas de la tabla */
    .centered-cell {
      text-align: center;
      vertical-align: middle;
    }

    /* Alinear los botones dentro de las celdas */
    .btn {
      margin: 0 auto;
      display: block;
    }
  </style>
</head>
<body>
  <div class="container mt-5">
    <h1>Listado de Tareas</h1>
    <form id="newTaskForm" class="mb-4">
      <div class="form-group">
        <label for="taskName">Nueva Tarea</label>
        <input type="text" id="taskName" name="name" class="form-control" placeholder="Escribe una nueva tarea" required>
      </div>
      <div class="form-group">
        <label for="startDate">Fecha de Inicio</label>
        <input type="date" id="startDate" name="startDate" class="form-control" required>
      </div>
      <div class="form-group">
        <label for="endDate">Fecha de Fin</label>
        <input type="date" id="endDate" name="endDate" class="form-control" required>
      </div>
      <button type="submit" class="btn btn-submit">Agregar</button>
    </form>

    <div id="alert" class="alert" style="display: none;"></div>

    <div class="form-group">
      <input type="text" id="searchTask" class="form-control" placeholder="Buscar tarea">
    </div>
    <button id="clearSearch" class="btn btn-secondary mb-4">Limpiar Búsqueda</button>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre de Tarea</th>
          <th>Fecha de Inicio</th>
          <th>Fecha de Fin</th>
          <th class="centered-cell">Finalizar</th>
          <th class="centered-cell">Editar</th>
          <th class="centered-cell">Eliminar</th>
        </tr>
      </thead>
      <tbody id="tasksTableBody">
        <% tasks.forEach(task => { %>
          <tr id="task-<%= task._id %>">
            <td><%= task.name %></td>
            <td><%= new Date(task.startDate).toLocaleDateString() %></td>
            <td><%= new Date(task.endDate).toLocaleDateString() %></td>
            <td class="centered-cell">
              <form class="inline-form complete-form" data-id="<%= task._id %>">
                <button class="btn btn-success" type="submit"><%= task.completed ? "✔" : "❌" %></button>
              </form>
            </td>
            <td class="centered-cell">
              <button class="btn btn-warning edit-btn" data-id="<%= task._id %>" data-name="<%= task.name %>" data-startdate="<%= task.startDate %>" data-enddate="<%= task.endDate %>">Editar</button>
            </td>
            <td class="centered-cell">
              <form class="inline-form delete-form" data-id="<%= task._id %>">
                <button class="btn btn-danger" type="submit">Eliminar</button>
              </form>
            </td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <!-- Modal de Edición -->
  <div class="modal fade" id="editTaskModal" tabindex="-1" role="dialog" aria-labelledby="editTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editTaskModalLabel">Editar Tarea</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editTaskForm">
            <input type="hidden" id="editTaskId">
            <div class="form-group">
              <label for="editTaskName">Nombre de Tarea</label>
              <input type="text" id="editTaskName" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="editStartDate">Fecha de Inicio</label>
              <input type="date" id="editStartDate" class="form-control" required>
            </div>
            <div class="form-group">
              <label for="editEndDate">Fecha de Fin</label>
              <input type="date" id="editEndDate" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      // Función para mostrar alertas
      function showAlert(message, type) {
        const alertBox = document.getElementById('alert');
        alertBox.textContent = message;
        alertBox.className = `alert alert-${type}`;
        alertBox.style.display = 'block';
        setTimeout(() => {
          alertBox.style.display = 'none';
        }, 3000);
      }

      // Cargar y renderizar las tareas
      async function loadTasks(searchTerm = '') {
        try {
          const response = await fetch('/api/tasks');
          const tasks = await response.json();
          const tasksTableBody = document.getElementById('tasksTableBody');
          tasksTableBody.innerHTML = '';

          const filteredTasks = tasks.filter(task => task.name.toLowerCase().includes(searchTerm.toLowerCase()));

          filteredTasks.forEach(task => {
            tasksTableBody.insertAdjacentHTML('beforeend', `
              <tr id="task-${task._id}">
                <td>${task.name}</td>
                <td>${new Date(task.startDate).toLocaleDateString()}</td>
                <td>${new Date(task.endDate).toLocaleDateString()}</td>
                <td class="centered-cell">
                  <form class="inline-form complete-form" data-id="${task._id}">
                    <button class="btn btn-success" type="submit">${task.completed ? "✔" : "❌"}</button>
                  </form>
                </td>
                <td class="centered-cell">
                  <button class="btn btn-warning edit-btn" data-id="${task._id}" data-name="${task.name}" data-startdate="${task.startDate}" data-enddate="${task.endDate}">Editar</button>
                </td>
                <td class="centered-cell">
                  <form class="inline-form delete-form" data-id="${task._id}">
                    <button class="btn btn-danger" type="submit">Eliminar</button>
                  </form>
                </td>
              </tr>
            `);
          });
        } catch (error) {
          showAlert('Error al cargar las tareas', 'danger');
        }
      }

      // Inicialmente cargar y renderizar las tareas
      loadTasks();

      // Manejar el evento de búsqueda
      document.getElementById('searchTask').addEventListener('input', (event) => {
        const searchTerm = event.target.value;
        loadTasks(searchTerm);
      });

      // Manejar el evento de limpiar búsqueda
      document.getElementById('clearSearch').addEventListener('click', () => {
        document.getElementById('searchTask').value = '';
        loadTasks();
      });

      // Enviar solicitud para agregar una nueva tarea
      document.getElementById('newTaskForm').addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = {
          name: document.getElementById('taskName').value,
          startDate: document.getElementById('startDate').value,
          endDate: document.getElementById('endDate').value
        };

        try {
          const response = await fetch('/api/tasks/new', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(formData)
          });
          if (response.ok) {
            loadTasks();
            document.getElementById('newTaskForm').reset();
            showAlert('Tarea agregada exitosamente', 'success');
          } else {
            const errorData = await response.json();
            showAlert(errorData.error || 'Error al agregar la tarea', 'danger');
          }
        } catch (error) {
          showAlert('Error al agregar la tarea', 'danger');
        }
      });

      // Mostrar el modal de edición con los datos de la tarea
      document.addEventListener('click', (event) => {
        if (event.target.classList.contains('edit-btn')) {
          const taskId = event.target.getAttribute('data-id');
          const taskName = event.target.getAttribute('data-name');
          const startDate = event.target.getAttribute('data-startdate').slice(0, 10);
          const endDate = event.target.getAttribute('data-enddate').slice(0, 10);

          document.getElementById('editTaskId').value = taskId;
          document.getElementById('editTaskName').value = taskName;
          document.getElementById('editStartDate').value = startDate;
          document.getElementById('editEndDate').value = endDate;

          $('#editTaskModal').modal('show');
        }
      });

      // Enviar solicitud para actualizar una tarea
      document.getElementById('editTaskForm').addEventListener('submit', async (event) => {
        event.preventDefault();
        const taskId = document.getElementById('editTaskId').value;
        const formData = {
          name: document.getElementById('editTaskName').value,
          startDate: document.getElementById('editStartDate').value,
          endDate: document.getElementById('editEndDate').value
        };

        try {
          const response = await fetch(`/api/tasks/${taskId}`, {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify(formData)
          });
          if (response.ok) {
            $('#editTaskModal').modal('hide');
            loadTasks();
            showAlert('Tarea actualizada exitosamente', 'success');
          } else {
            const errorData = await response.json();
            showAlert(errorData.error || 'Error al actualizar la tarea', 'danger');
          }
        } catch (error) {
          showAlert('Error al actualizar la tarea', 'danger');
        }
      });

      // Enviar solicitud para marcar una tarea como completada
      document.addEventListener('submit', async (event) => {
        if (event.target.classList.contains('complete-form')) {
          event.preventDefault();
          const taskId = event.target.getAttribute('data-id');
          try {
            await fetch(`/api/tasks/${taskId}/complete`, { method: 'POST' });
            loadTasks();
          } catch (error) {
            showAlert('Error al marcar la tarea como completada', 'danger');
          }
        }
      });

      // Enviar solicitud para eliminar una tarea
      document.addEventListener('submit', async (event) => {
        if (event.target.classList.contains('delete-form')) {
          event.preventDefault();
          const taskId = event.target.getAttribute('data-id');
          try {
            const response = await fetch(`/api/tasks/${taskId}/delete`, { method: 'POST' });
            if (response.ok) {
              document.getElementById(`task-${taskId}`).remove();
              showAlert('Tarea eliminada exitosamente', 'success');
            } else {
              const errorData = await response.json();
              showAlert(errorData.error || 'Error al eliminar la tarea', 'danger');
            }
          } catch (error) {
            showAlert('Error al eliminar la tarea', 'danger');
          }
        }
      });
    });
  </script>
</body>
</html>
